BRA_Market/order.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://ipg-online.com/ipgapi/schemas/ipgapi" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ipg-online.com/ipgapi/schemas/ipgapi" targetNamespace="http://ipg-online.com/ipgapi/schemas/ipgapi">

	<wsdl:types>
		<xs:schema xmlns:a1="http://ipg-online.com/ipgapi/schemas/a1" xmlns:ipgapi="http://ipg-online.com/ipgapi/schemas/ipgapi" xmlns:v1="http://ipg-online.com/ipgapi/schemas/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ipg-online.com/ipgapi/schemas/ipgapi">

			<xs:import namespace="http://ipg-online.com/ipgapi/schemas/v1" schemaLocation="../schemas/v1.xsd"/>
			<xs:import namespace="http://ipg-online.com/ipgapi/schemas/a1" schemaLocation="../schemas/a1.xsd"/>

		</xs:schema>
	</wsdl:types>

	<wsdl:message name="IPGApiOrderResponse">
		<wsdl:part element="tns:IPGApiOrderResponse" name="IPGApiOrderResponse"/>
	</wsdl:message>
	<wsdl:message name="IPGApiActionRequest">
		<wsdl:part element="tns:IPGApiActionRequest" name="IPGApiActionRequest"/>
	</wsdl:message>
	<wsdl:message name="IPGApiOrderRequest">
		<wsdl:part element="tns:IPGApiOrderRequest" name="IPGApiOrderRequest"/>
	</wsdl:message>
	<wsdl:message name="IPGApiActionResponse">
		<wsdl:part element="tns:IPGApiActionResponse" name="IPGApiActionResponse"/>
	</wsdl:message>

	<wsdl:portType name="IPGApiOrder">
		<wsdl:operation name="IPGApiOrder">
			<wsdl:input message="tns:IPGApiOrderRequest" name="IPGApiOrderRequest"/>
			<wsdl:output message="tns:IPGApiOrderResponse" name="IPGApiOrderResponse"/>
		</wsdl:operation>
		<wsdl:operation name="IPGApiAction">
			<wsdl:input message="tns:IPGApiActionRequest" name="IPGApiActionRequest"/>
			<wsdl:output message="tns:IPGApiActionResponse" name="IPGApiActionResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="IPGApiOrderSoap11" type="tns:IPGApiOrder">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="IPGApiOrder">
			<soap:operation soapAction=""/>
			<wsdl:input name="IPGApiOrderRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="IPGApiOrderResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="IPGApiAction">
			<soap:operation soapAction=""/>
			<wsdl:input name="IPGApiActionRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="IPGApiActionResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="IPGApiOrderService">
		<wsdl:port binding="tns:IPGApiOrderSoap11" name="IPGApiOrderSoap11">
			<soap:address location="https://test.ipg-online.com/ipgapi/services"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>